{% extends 'base.html.twig' %}

{% block title %}Program{% endblock %}

{% block body %}
    <h1>Program</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ program.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ program.libelle }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ program.type }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ program.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('objet_program_index') }}">back to list</a>

    <a href="{{ path('objet_program_edit', {'id': program.id}) }}">edit</a>

    {{ include('objet_program/_delete_form.html.twig') }}
{% endblock %}