{% extends 'base.html.twig' %}

{% block title %}Notification index{% endblock %}

{% block body %}
    <h1>Notification index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Reference</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for notification in notifications %}
            <tr>
                <td>{{ notification.id }}</td>
                <td>{{ notification.libelle }}</td>
                <td>{{ notification.reference }}</td>
                <td>{{ notification.description }}</td>
                <td>
                    <a href="{{ path('objet_notification_show', {'id': notification.id}) }}">show</a>
                    <a href="{{ path('objet_notification_edit', {'id': notification.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('objet_notification_new') }}">Create new</a>
{% endblock %}
